#review-replies-list .reply-item{
/* 	background: rgba(210,242,211,.1); */
	padding: 10px;
	margin: 5px 0 5px 0;
/* 	border-radius: 3px; */
	border:solid 1px rgba(212,21,2,.12)
}
.author-name{
	font-weight: bold;
	color: rgba(0,40,120,.9);
}
.reply-time{
	font-style: italic;
	color: rgba(111,11,13,.5)
}
.user{
	text-align: right;
	background: rgba(222,221,221,.1);
}
.user .author-name{
	color: #fa4;	
}
#review-content{
	background: #fcfcfc;	
	color:#e70;
}
.content-holder{
	padding: 20px;
	top:45px !important;
	background: #fff;
}
table thead,table tfoot{
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
}
#review-reply {
	border-radius: 0 !important;
}
.review-item{
	padding-bottom:10px;
}