.home-data {
    overflow: auto;
    padding: 20px;
}

table > tbody > tr:hover {
	cursor: pointer;
}

.modal-header {
	background-color: #3F3F3F !important;
	border-bottom: 1px solid #e5e5e5;
	color: #F5F5F5 !important;
	min-height: 30px !important;
	padding: 5px 10px !important;
}

.modal-title {
	font-weight: 700;
	color: #DDD;
}

.modal-dialog {
	/*width: 400px !important;*/
}

.modal-body {
	/*padding: 10px !important;*/
}

.modal-content {
	border-radius: 0px !important;
}

.modal-footer {
	padding: 9px 20px 10px !important;
}